
@*
    // _footer bir partial view
   partial view Layout'tan bu şekilde çağrılır  @Html.Partial("_footer")
    *@ 
<div class="card-footer py-3 mt-3" id="footer-content">
    <div class="container">
        <span class="text-muted">
           burası footer Kısmı 
        </span>
    </div>
</div>